body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 100%;
}
nav{
  display:  flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 55px;
  color: white;
  background-color: #F55A5A;
}
main{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
h1{
  font-size: 3rem;
}
nav >h5 , nav >i{
  font-size:  2rem;
  margin: 0;
}
.card{
  width:100% ;
  display: flex;
  align-items: center;
  height: 300px;
  justify-content: space-between;
}
.card >img{
  width: 35%;
  height: 90%;
  border-radius: 5px;
}

.info{
  display: grid;
  grid-template-rows: auto auto auto auto ;
  width: 62%;
  font-size: 10.5px;
  font-size: 1rem;
}
.info p{
  margin: 0.5rem 0;
}
.from{
  display:  flex;
  align-items: baseline;
  gap: 10px;
}
.location{
  letter-spacing: 2px;
  margin: 0;
}
.info > h1{
  margin: 0;
}
.info  a {
  color: #918E9B;
}
.info i{
  color: #F55A5A  ;
}
.date{
  font-weight: lighter;
}

@media (max-width: 768px){
  h1{
    font-size: 28px;
  }
  .card{
    flex-direction: column;
    height: auto;
    align-items: start;
  }
  .card img{
    width: 100%;
    margin-bottom: 15px;
  }
  .card p{
    margin: 5px 0;
  }
  .info{
    width: 100%;
  }
  .from{
    grid-row: 2/3;
    font-size: 12px;
  }
}